<div class="add-product">
    <h1>Update Product</h1>
    <form #addProduct="ngForm" (ngSubmit)="submit()" class="common-form">
        <input class="form-input" type="text" name="name" placeholder="Enter Product Name" ngModel>
        <input class="form-input" type="text" name="price" placeholder="Enter Product Price" ngModel>
        <input class="form-input" type="text" name="color" placeholder="Enter Product Color" ngModel>
        <input class="form-input" type="text" name="category" placeholder="Enter Product Category" ngModel>
        <textarea class="form-input" type="text" name="description" placeholder="Enter Description" ngModel></textarea>
        <input class="form-input" type="text" name="image" placeholder="Enter Product Image Url" ngModel>
        <button class="form-button">Update Product</button>
    </form>
</div>